<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!--
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    -->

    <!-- TITLE -->
      <title>{{title}}</title>

    <!-- LINKS FOR BOOTSTRAP TO WORK-->
      <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      <!-- Latest compiled and minified JavaScript -->
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

      
    
    <!-- OTHERS-->
      <!-- Links to font awesome and icons -->
      <script src="https://kit.fontawesome.com/07167c6e0a.js" crossorigin="anonymous"></script>
      <link href="https://fonts.googleapis.com/css?family=Spartan&display=swap" rel="stylesheet">
      <link href='https://fonts.googleapis.com/css?family=Space Mono' rel='stylesheet'>
		  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>

      <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">
      <style type="text/css">@font-face {
        font-family: 'rbicon';
        src: url(chrome-extension://dipiagiiohfljcicegpgffpbnjmgjcnf/fonts/rbicon.woff2) format("woff2");
        font-weight: normal;
        font-style: normal; }
      </style>
  </head>

  <body>

    {{> nav_bar}}
    <!-- MAIN BODY -->
      <div class="container">
        {{{body}}}
      </div>
       <!--
       <script>
        Holder.addTheme('thumb', {
          bg: '#55595c',
          fg: '#eceeef',
          text: 'Thumbnail'
        });
      </script>
      -->
  </body>
</html>