<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">

  <!-- TITLE -->
  <title>{{title}}</title>
  <!-- Latest compiled and minified JQuery -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <!-- Latest compiled and minified BOOTSTRAP CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous">
  <!-- Latest compiled and minified BOOTSTRAP JavaScript -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  
  <!-- Popper -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>

  <!-- OTHERS-->
  <!-- Links to font awesome and icons -->
  <script src="https://kit.fontawesome.com/07167c6e0a.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Spartan&display=swap" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Space Mono' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>

  <link rel="icon" href="/img/logo.png">

  <style type="text/css">
    @font-face {
      font-family: 'rbicon';
      src: url(chrome-extension://dipiagiiohfljcicegpgffpbnjmgjcnf/fonts/rbicon.woff2) format("woff2");
      font-weight: normal;
      font-style: normal;
    }
  </style>
</head>

<body>
  {{> nav_bar}}
  <!-- MAIN BODY -->
  <div class="container">
    {{{body}}}
  </div>
</body>
</html>