
		<title>HOMEPAGE</title>

		<div id="mainbody">



			<div class="welcome">
				<h2>Welcome to the Untitled Fanfic Reader website!</h2>
				<h4>Grab a coffee while you read short stories online for free! Here are some titles you might be interested in.</h4>
			</div>
			<table class="table-container">
				<tr>
					<th class="div-table-header" colspan="5"><h4>Recently Added Titles</h4></th>
				</tr>
				<div>
					<tr class="div-table-content" >
						<td>
							<a href="http://localhost:3000/two_pieces">Two Pieces</a>
						</td>
						<td class="div-table-cell">
							6.5/10 (2 reviews)
						</td>
						<td class="div-table-cell">
							Shounen
						</td>
						<td class="div-table-cell">
							Original
						</td>
						<td class="div-table-cell">
							<a href="http://localhost:3000/oda_nobunaga">Oda Nobunaga</a>
						</td>
					</tr>
					<tr class="div-table-content">
						<td colspan="5" class="div-table-cell">
								Synopsis: A boy with a scar on his face wants to be the King of the Pirates and find the Two Pieces, so he can share it with his brother Ace who is definitely not gonna die. He gets companions along the way and a hot girlfriend who is older than him but acts like she's a child when around him (smh Boa). A boy with a scar on his face wants to be the King of the Pirates and find the Two Pieces, so he can share it with his brother Ace who is definitely not gonna die. He gets companions along the way and a hot girlfriend who is older than him but acts like she's a child when around him (smh Boa).
							</p>
						</td>
					</tr>
				</div>



				<!-- CUT THIS DIV -->
				<div>
					<tr class="div-table-content" >
						<td>
							<a href="http://localhost:3000/boruto_shippuden">Boruto Shippuden</a>
						</td>
						<td class="div-table-cell">
							10/10 (2 reviews)
						</td>
						<td class="div-table-cell">
							Shounen
						</td>
						<td class="div-table-cell">
							Original
						</td>
						<td class="div-table-cell">
							<a href="http://localhost:3000/masashi_kissmoto">Masashi Kissmoto</a>
						</td>
					</tr>
					<tr class="div-table-content">
						<td colspan="5" class="div-table-cell">
							<p>
								Ninja kid wants to be hokage like his father. Ninja kid's friend went out of their village in search for more power. Ninja kid, Boruto follows her and goes on a new journey with his team of three.
							</p>
						</td>
					</tr>
					
				</div>
				
				<!-- 	CUT		-->
				
			</table>
		</div>