<div class="form-box">
		<div class="button-box">
			<div id="btn"></div>
			<button id="login-toggle" type="button" class="toggle-btn" >Log In</button>
			<button id="register-toggle" type="button" class="toggle-btn" >Register</button>
		</div>
		<div id="login" class="input-group">
			<div id="error1" class="error-text">Passwords do not match</div>
			<div id="confirm" class="matched"></div>

			<input id="username1"type="text" class="input-field"placeholder="Username">
			<input id="password"type="password" class="input-field"placeholder="Password">

			<span id="eye1" class="eye">
				<i id="hide1" class="fa fa-eye" ></i>
				<i id="hide2" class="fa fa-eye-slash"></i>
			</span>

			<button id="log" type="button" class="submit-btn">Log in</button>
		</div>
		<div id="register"class="input-group">

			<div id="error2" class="error-text">Passwords do not match</div>

			<input id="username2"type="text" class="input-field"placeholder="Username" name="username">
			<input id="pswrd_1"type="password" class="input-field"placeholder="Password" name="password">
			<span id="eye3" class="eyess">
				<i id="hide5" class="fa fa-eye" ></i>
				<i id="hide6" class="fa fa-eye-slash"></i>
			</span>
			<input id="pswrd_2"type="password" class="input-field"placeholder="Confirm Password" name="password2">
			<span id="eye2" class="eyes">
				<i id="hide3" class="fa fa-eye" ></i>
				<i id="hide4" class="fa fa-eye-slash"></i>
			</span>

			<input id="checkbox" type="checkbox" class="check-box" required><span>I agree to the terms and conditions</span>
			<button id="reg" type="submit" class="submit-btn">Register</button>
		</div>
	</div>
<!--
<script>
	  const checkbox = document.querySelector("#checkbox");
	  const username2 = document.querySelector("#username2");
      const pswrd_1 = document.querySelector("#pswrd_1");
      const pswrd_2 = document.querySelector("#pswrd_2");
      const errorText = document.querySelector(".error-text");
      const btn = document.querySelector("#reg");


      btn.onclick = function(){
		
        if(username2.value==""||username2.value==" "){
		  errorText.style.display = "block";
          errorText.classList.remove("matched");
          errorText.textContent = "Username Cannot Be Empty";
          return false;
		}
		else if(pswrd_1.value == "" ||pswrd_2.value==""||pswrd_1.value == " " ||pswrd_2.value==" "){
		  errorText.style.display = "block";
          errorText.classList.remove("matched");
          errorText.textContent = "Passwords Cannot Be Empty";
          return false;
		}

		// checking the username length
		else if(username2.value.length < 6) {
		  errorText.style.display = "block";
          errorText.classList.remove("matched");
          errorText.textContent = "Username is too short";
          return false;
        }
		else if(username2.value.length > 15) {
		  errorText.style.display = "block";
          errorText.classList.remove("matched");
          errorText.textContent = "Username is too long";
          return false;
        }
		
		// checking the password length
		else if(pswrd_1.value.length < 6) {
		  errorText.style.display = "block";
          errorText.classList.remove("matched");
          errorText.textContent = "Password is too short";
          return false;
        }
		else if(pswrd_1.value.length > 15) {
		  errorText.style.display = "block";
          errorText.classList.remove("matched");
          errorText.textContent = "Password is too long";
          return false;
        }
		
		else if(pswrd_1.value != pswrd_2.value){
          errorText.style.display = "block";
          errorText.classList.remove("matched");
          errorText.textContent = "Passwords Do Not Match";
          return false;
        }

		else if(checkbox.checked!=true){
		  errorText.style.display = "block";
          errorText.classList.remove("matched");
          errorText.textContent = "Unread Terms and Conditions";
          return false;
		}
		else{
          errorText.style.display = "block";
          errorText.classList.add("matched");
          errorText.textContent = "Passwords Match";
          return false;
        }
      }

    </script>-->