<h1 class="px-5 pt-5 text-center">Menu</h1>
<h5 class="px-5 pb-5 text-center">Short Description</h5>

<div class="menu-card-container">

    <div class="menu-card">
        <div class="card-img">
            <a href="#">
                <img src="https://upload.wikimedia.org/wikipedia/commons/8/85/Quando_voc%C3%AA_mora_numa_cidade_com_milhares_de_pizzarias_(22132311531).jpg">
            </a>
        </div>
        <div class="menu-info">
            <div class="menu-item-title">
                <a href="#">
                    <h2>Item Name</h2>
                </a>
            </div>
            <div class="menu-item-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic repudiandae repellat itaque quidem qui dolorem dolorum dolore</div>
            <div class="menu-item-price text-right"></div>
            <div class="menu-item-price text-right">Php 0.00</div>
           
        </div>
    </div>

     <div class="menu-card">
        <div class="card-img">
            <a href="#">
                <img src="https://media.timeout.com/images/103437036/image.jpg">
            </a>
        </div>
        <div class="menu-info">
            <div class="menu-item-title">
                <a href="#">
                    <h2>Item Name</h2>
                </a>
            </div>
            <div class="menu-item-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic repudiandae repellat itaque quidem qui dolorem dolorum dolore</div>
            <div class="menu-item-price text-right"></div>
            <div class="menu-item-price text-right">Php 0.00</div>
            
        </div>
    </div>

    <div class="menu-card">
        <div class="card-img">
            <a href="#">
                <img src="https://upload.wikimedia.org/wikipedia/commons/8/85/Quando_voc%C3%AA_mora_numa_cidade_com_milhares_de_pizzarias_(22132311531).jpg">
            </a>
        </div>
        <div class="menu-info">
            <div class="menu-item-title">
                <a href="#">
                    <h2>Item Name</h2>
                </a>
            </div>
            <div class="menu-item-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic repudiandae repellat itaque quidem qui dolorem dolorum dolore</div>
            <div class="menu-item-price text-right"></div>
            <div class="menu-item-price text-right">Php 0.00</div>
           
        </div>
    </div>

     <div class="menu-card">
        <div class="card-img">
            <a href="#">
                <img src="https://media.timeout.com/images/103437036/image.jpg">
            </a>
        </div>
        <div class="menu-info">
            <div class="menu-item-title">
                <a href="#">
                    <h2>Item Name</h2>
                </a>
            </div>
            <div class="menu-item-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic repudiandae repellat itaque quidem qui dolorem dolorum dolore</div>
            <div class="menu-item-price text-right"></div>
            <div class="menu-item-price text-right">Php 0.00</div>
            
        </div>
    </div>

</div>