<h1 class="px-5 pt-5 text-center">Menu</h1>
<h5 class="px-5 pb-5 text-center">Short Description</h5>

<div class="menu-card-container">

    <div class="menu-card">
        <div class="card-img">
            <div class="show-overlay">
                <img src="https://upload.wikimedia.org/wikipedia/commons/8/85/Quando_voc%C3%AA_mora_numa_cidade_com_milhares_de_pizzarias_(22132311531).jpg">
            </div>
        </div>
        <div class="menu-info">
            <div class="menu-item-title">
                <div class="show-overlay">
                    <h2>Item Name 1</h2>
                </div>
            </div>
            <div class="menu-item-desc">1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic repudiandae repellat itaque quidem qui dolorem dolorum dolore</div>
            <div class="menu-item-price text-right"></div>
            <div class="menu-item-price text-right">Php 1.00</div>
        </div>
    </div>
    <div class="overlay">
        <div class="overlay-container vertical-center d-flex flex-column justify-content-start">
            <div class="d-flex flex-row justify-content-end overlay-close-container">
                <div class="overlay-close">&#10006;</div>
            </div>
            <div class="d-flex flex-row justify-content-start overlay-content-container">
                <div class="d-flex flex-column justify-content-end overlay-product-container">
                    <div class="overlay-image">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/8/85/Quando_voc%C3%AA_mora_numa_cidade_com_milhares_de_pizzarias_(22132311531).jpg">
                    </div>
                    <div class="overlay-name"><h4>Item Name 1</h4></div>
                    <div class="overlay-price"><h4>Php 1.00</h4></div>
                </div>
                <div class="overlay-desc"><h3>1 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima eius eligendi vitae corrupti adipisci deleniti quaerat facilis consequuntur nostrum. Saepe reprehenderit iste dolores velit reiciendis nesciunt obcaecati! Tenetur, in quod? Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur sequi dolore, omnis necessitatibus delectus a aut quam vel suscipit fugit, voluptatibus soluta officia distinctio dolorum quia modi! Omnis, qui delectus. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim, beatae cum perspiciatis tempora aliquam, quisquam dignissimos officiis facere, amet modi officia assumenda mollitia voluptatibus veritatis corrupti possimus. Culpa, autem explicabo!</h3></div>
            </div>
        </div>
    </div>

    <div class="menu-card">
        <div class="card-img">
            <div class="show-overlay">
                <img src="https://upload.wikimedia.org/wikipedia/commons/8/85/Quando_voc%C3%AA_mora_numa_cidade_com_milhares_de_pizzarias_(22132311531).jpg">
            </div>
        </div>
        <div class="menu-info">
            <div class="menu-item-title">
                <div class="show-overlay">
                    <h2>Item Name 2</h2>
                </div>
            </div>
            <div class="menu-item-desc">2 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic repudiandae repellat itaque quidem qui dolorem dolorum dolore</div>
            <div class="menu-item-price text-right"></div>
            <div class="menu-item-price text-right">Php 2.00</div>
        </div>
    </div>
    <div class="overlay">
        <div class="overlay-container vertical-center d-flex flex-column justify-content-start">
            <div class="d-flex flex-row justify-content-end overlay-close-container">
                <div class="overlay-close">&#10006;</div>
            </div>
            <div class="d-flex flex-row justify-content-start overlay-content-container">
                <div class="d-flex flex-column justify-content-end overlay-product-container">
                    <div class="overlay-image">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/8/85/Quando_voc%C3%AA_mora_numa_cidade_com_milhares_de_pizzarias_(22132311531).jpg">
                    </div>
                    <div class="overlay-name"><h4>Item Name 2</h4></div>
                    <div class="overlay-price"><h4>Php 2.00</h4></div>
                </div>
                <div class="overlay-desc"><h3>2 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima eius eligendi vitae corrupti adipisci deleniti quaerat facilis consequuntur nostrum. Saepe reprehenderit iste dolores velit reiciendis nesciunt obcaecati! Tenetur, in quod? Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur sequi dolore, omnis necessitatibus delectus a aut quam vel suscipit fugit, voluptatibus soluta officia distinctio dolorum quia modi! Omnis, qui delectus. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim, beatae cum perspiciatis tempora aliquam, quisquam dignissimos officiis facere, amet modi officia assumenda mollitia voluptatibus veritatis corrupti possimus. Culpa, autem explicabo!</h3></div>
            </div>
        </div>
    </div>

    <div class="menu-card">
        <div class="card-img">
            <div class="show-overlay">
                <img src="https://upload.wikimedia.org/wikipedia/commons/8/85/Quando_voc%C3%AA_mora_numa_cidade_com_milhares_de_pizzarias_(22132311531).jpg">
            </div>
        </div>
        <div class="menu-info">
            <div class="menu-item-title">
                <div class="show-overlay">
                    <h2>Item Name 3</h2>
                </div>
            </div>
            <div class="menu-item-desc">3 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic repudiandae repellat itaque quidem qui dolorem dolorum dolore</div>
            <div class="menu-item-price text-right"></div>
            <div class="menu-item-price text-right">Php 3.00</div>
        </div>
    </div>
    <div class="overlay">
        <div class="overlay-container vertical-center d-flex flex-column justify-content-start">
            <div class="d-flex flex-row justify-content-end overlay-close-container">
                <div class="overlay-close">&#10006;</div>
            </div>
            <div class="d-flex flex-row justify-content-start overlay-content-container">
                <div class="d-flex flex-column justify-content-end overlay-product-container">
                    <div class="overlay-image">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/8/85/Quando_voc%C3%AA_mora_numa_cidade_com_milhares_de_pizzarias_(22132311531).jpg">
                    </div>
                    <div class="overlay-name"><h4>Item Name 3</h4></div>
                    <div class="overlay-price"><h4>Php 3.00</h4></div>
                </div>
                <div class="overlay-desc"><h3>3 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima eius eligendi vitae corrupti adipisci deleniti quaerat facilis consequuntur nostrum. Saepe reprehenderit iste dolores velit reiciendis nesciunt obcaecati! Tenetur, in quod? Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur sequi dolore, omnis necessitatibus delectus a aut quam vel suscipit fugit, voluptatibus soluta officia distinctio dolorum quia modi! Omnis, qui delectus. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim, beatae cum perspiciatis tempora aliquam, quisquam dignissimos officiis facere, amet modi officia assumenda mollitia voluptatibus veritatis corrupti possimus. Culpa, autem explicabo!</h3></div>
            </div>
        </div>
    </div>

</div>