<div class="d-flex flex-column content">
    <div class="container">
        <h2>Select to Order</h2>
        {{#if username}}{{else}}
            <h4 class="login-warning">You need to be signed in to save and place orders!</h4>
            <h6><a href="/login">Sign in Here</a></h6>
        {{/if}}
        <br>

        {{#each products}}
        <div class="card d-flex flex-row justify-content-between item">
            <input class="toggle" type="checkbox">
            <h4 class="item-name">{{this.name}}</h4>

            <div class="d-flex flex-row justify-content-between">
                <h4 class="price">Php {{this.price}}</h4>
                <input type="number" class="quantity" min="1" hidden="true">
                <input type="number" class="quantity-gray" disabled="disabled">
            </div>
        </div>      
        {{/each}}
        <hr>

        <div class="d-flex flex-row justify-content-between">
            <div id="warning-outer">
                <h5 id="warning"></h5>
            </div>
            <div class="card d-flex flex-row justify-content-end total">
                <h4 class="item-name">Subtotal</h4>
                <div class="d-flex flex-row justify-content-between">
                    <h4 id="subtotal">Php 0.00</h4>
                    <buttontype="button" {{#if username}}id="checkout"{{else}}id="forbidden"{{/if}} class="btn btn-success btn-block quantity">Checkout</buttontype>
                </div>
            </div>
        </div>
    </div>
</div>