<link rel="stylesheet" href="">
<script src=""></script>

<h1 class="px-5 pt-5 text-center">Terms and Conditions</h1>
<br><br><br>
<div class="textcontainer">
  <p>These aren't real terms and conditions, the following words that you will be reading are not actually real terms and conditions and are just filler words that are placed in place of real terms and conditions. Keep his information in mind if you will be reading the reast of these "terms and conditions"</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, repellat nulla. Iure maiores autem explicabo illum, doloribus aspernatur exercitationem sint nulla quasi, iste quibusdam sunt cum nostrum eveniet ipsum labore. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla veritatis quasi provident natus in officia ut inventore sit quod! Esse asperiores consectetur ut dolorum dolores suscipit laboriosam sint temporibus quaerat. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed id similique minus modi ea ex, a quo blanditiis impedit aspernatur officia corrupti est corporis quidem deserunt at dolorem nisi minima?</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad veniam maiores esse et labore ducimus sint quos obcaecati eligendi voluptatem mollitia, accusamus, rerum culpa atque in aperiam aspernatur a suscipit?</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil quisquam blanditiis recusandae asperiores reiciendis amet, nisi labore quibusdam, facere, inventore delectus ex quia! Quidem libero amet beatae? Officia, dicta qui. Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias perspiciatis, vitae mollitia accusamus distinctio voluptas et sequi? Accusamus recusandae sint tempora voluptatem totam commodi sapiente inventore, facilis placeat doloremque incidunt.</p>
</div>