.menu-card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    margin-left: 5%;
    margin-right: 5%;
}

.menu-card {
    display: flex;
    flex-direction: column;

    width: 30%;
    height: calc(100vh / 2)px;

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;

    margin-bottom: 5%;
}

.menu-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.menu-item-image {
    max-width: 100%;
    height: 60%;

    vertical-align: middle;
}

.card-img {
    overflow: hidden;
}
  
.card-img img {
    width: 100%;
    height: 250px;
}

.menu-info {
    display: flex;
    flex-direction: column;

    margin: 5%;

    width: 90%;
    height: 90%;
}

.menu-item-title {
    height: 50px;
    overflow: hidden;
}

.menu-item-desc {
    height: 150px;
    overflow: hidden;
}

.menu-item-price {
    height: 30px;
    overflow: hidden;
    
    text-align: right;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: black;
}

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: auto;
}

.show-overlay {
    cursor: pointer;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.overlay-container {
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
    height: 70%;

    background-color: rgba(245, 245, 245, 0.95);
    border-radius: 10px;
}

.overlay-close-container {
    height: 5%;
    margin-top: 20px;
    margin-right: 20px;
}

.overlay-close {
    font-size: 100%;
    cursor: pointer;
}

.overlay-content-container {
    height: 70%;
    margin: 20px;
}

.overlay-product-container {
    width: 35%;
    margin: 20px;
    height: 100%;
}

.overlay-desc {
    width: 65%;
    height: 100%;
    margin: 20px;
    overflow-y: scroll;
}

.overlay-image {
    height: 100%;
    margin-bottom: 20px;
    overflow: hidden;
}

.overlay-image img {
    width: 100%;
}

.overlay-name {
    height: 10%;
}

.overlay-price {
    height: 10%;
}